<% html_title("Team resource monitoring") %>
<% content_for :header_tags do %>
  <%= stylesheet_link_tag "team_resource",   plugin: "redmine_team_resource" %>
<% end %>
<table border="1" bordercolor = "#bbb">
  <tr>
    <th>User</th>
    <th>Project</th>
    <% @reange_month.each do |year_month|%><th><%=year_month%></th><% end %>
  </tr>
  <% @sumiraize_month.keys.sort.each do |k| %>
    <tr>
      <td><%=User.find_by(id: get_user_id(k)) || "Not Assigned"%></td>
      <td><%= Project.find_by(id: get_project_id(k))%></td>
      <% @reange_month.each do |year_month|%><td><%=@sumiraize_month[k][year_month]%></td><% end %>
    </tr>
  <% end %>
</table>
