<% html_title("Team resource monitoring") %>
<% content_for :header_tags do %>
  <%= stylesheet_link_tag "team_resource",   plugin: "redmine_team_resource" %>
<% end %>
<h1><%= l(:caption_menu_team_resource_monitor) %></h1>
<p><%= l(:desc_mainpage)%></p>
<!-- Option -->
<%= form_tag url_for(action: :index), method: :get, id: "query_form" do %>
  <fieldset id="filters" class="collapsible">
    <legend onclick="toggleFieldset(this);" class="icon icon-collapsed"><%= l(:label_options) %></legend>
    <div style="display: none;">
      <div class="option-div-col">
        <%= l(:label_project) %><br>
        <%= select_tag :selected_project_ids,
          options_from_collection_for_select(@selectable_project_list, :id, :name, @selected_project_ids),
                                             { multiple: true, size: 5 } %>
      </div>
      <div class="option-div-col">
        <%= l(:label_hours_of_day) %><br>
        <%= text_field_tag :hours_of_day, params[:hours_of_day], size: 3 %><br>
      </div>
    </div>
  </fieldset>
  <!-- Apply button -->
  <p class="buttons">
    <%= link_to "#", {onclick: "$(this).closest('form').submit()", class: "icon icon-checked" } do l(:button_apply) end %>
    <%= link_to l(:button_clear), { selected_project_ids: {} }, :class => "icon icon-reload"  %>
  </p>
<% end %>
<!-- display data -->
<% before_user = "" %>
<% @summarize_by_month.keys.sort.each do |k| %>
  <% if before_user == get_user_name(k) %>
    <tr>
      <td><%= link_to_member_project(k) %></td>
      <% @reange_month.each do |year_month|%><td id="sumrized_value"><%=(@summarize_by_month[k][year_month].to_f/@hours_of_day.to_f).round(1) %></td><% end %>
    </tr>
  <% else %>
    <% if before_user == "" %>
      <h2><%= get_user_name(k) %></h2>
      <table id="sumrized_table" border="1" bordercolor = "#bbb">
    <% else %>
      </table><br>
      <h2><%= get_user_name(k) %></h2>
      <table id="sumrized_table" border="1" bordercolor = "#bbb">
    <% end %>
    <tr>
      <th id="hdear_project"><%= l(:label_project) %></th>
      <% @reange_month.each do |year_month|%><th id="header_month"><%=year_month%></th><% end %>
    </tr>
      <tr id="total_row">
      <td><%= label_total_time(@hours_of_day) %></td>
      <% @reange_month.each do |year_month|%><td id="total_value"><%=(@summarize_user_total_by_month[k.to_s.split("PROJECT")[0]][year_month].to_f/@hours_of_day.to_f).round(1) %></td><% end %>
      </tr>
    <tr>
      <td><%= link_to_member_project(k) %></td>
      <% @reange_month.each do |year_month|%><td id="sumrized_value"><%=(@summarize_by_month[k][year_month].to_f/@hours_of_day.to_f).round(1) %></td><% end %>
    </tr>
  <% end %>
  <% before_user = get_user_name(k) %>
<% end %>
</table>
